.modal {
	display: none;
}

.modal.active {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal p {
	width: 90vw;
	background-color: #fff;
	padding: 10px;
}

@media screen and (min-width: 600px) {
	.modal p {
		width: 40vw;
	}
	
}
button.hide {
	position: fixed;
	right: 20px;
	top: 20px;
}